<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Acts As State Machine</string>
	<key>ordering</key>
	<array>
		<string>58BC531A-4880-4E6C-A59A-3BC1FDCE715B</string>
		<string>BE8A6045-E277-49BA-9703-E7ED1C5F4D19</string>
		<string>6818CED5-EF4A-4875-863B-0D328AD2504F</string>
		<string>63DF7875-E796-4A62-9BFD-151FCC9A15F8</string>
	</array>
	<key>uuid</key>
	<string>68A58F89-6BD8-467F-ABA1-44BC3BAED3AE</string>
</dict>
</plist>
